

<body>
<% unless current_user %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>

<%= link_to '<button class="button_in_nav">Add New Movie</button>'.html_safe, new_movie_path %> 
<%= form_tag search_path, :method => 'get' do %>

  <%= text_field_tag :search, params[:search] ,:class => 'input_search' %>
  <%= submit_tag "Search" ,:class => 'button_search' ,:autocomplete => "off"%>
  <% end %>
<table class="table table-hover" width="70%" border="5px" bgcolor="#96bb7c" padding="15px">
  <thead>
    <tr>
    <th >Title</th>
    <th >Rating</th>
    <th colspan="1"></th>
    </tr>
  </thead>

  <tbody bgcolor="#f5f1da">
    <% @movies.each do |movie| %>
      <tr>
      <td padding: 15px ><%= movie.title %></td>
      <td padding: 15px><%= movie.rating %></td>
      <td padding: 15px><%= link_to '<button class="button_table">Show</button>'.html_safe, movie %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div> 
</div> 



<br>

</body>