<br>

<div class="center">

<%= form_for @movie,html: {class: "movie-form"} do |f| %>
    <h1>New Movie</h1>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 1.0..10.0, step: 0.1 , placeholder: "1-10" %>

    <br>
    <%= f.label :description %>
    <%= f.text_area :description, cols: "30" , rows: "4"%>
    <br>
    <%= f.label :release_date %>
    <%= f.date_field :release_date ,min: "1930-12-31" ,max: "2020-10-20" %>
    <br>
    <br>
    <div>
    <%= f.submit :ADD ,class: "button_submit"%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <%= link_to '<button class="button_back">Back</button>'.html_safe, movies_path %>
    </div>
    <br>
    <br>
<% end %>

</div>
