
<br>
<br>
<br>
<br>
<br>

<body>
<div class="center">
<div class="movie-form">
<p class="c_show" style="text-align:center">
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p class="c_show" style="text-align:center">
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p class="c_show" style="text-align:center">
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p class="c_show" style="text-align:center">
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>
<br>
<div class="center">
<%= link_to '<button class="button_submit">Edit</button>'.html_safe, edit_movie_path(@movie) %>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<%= link_to '<button class="button_delete">Delete</button>'.html_safe, @movies,:method => :delete %>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<%= link_to '<button class="button_back">Back</button>'.html_safe, movies_path %>


</div>
</div>
</div>
</body>




