<br>
<body>
<div class="container" 
style="width: 70%; color: black; background-color: #f5f1da; padding: 50px 20px; border-radius: 10px; border: 7px groove #96bb7c;">

<strong><p class="c_show">Title:<%= @movie.title %></p></strong>

<br>
<strong><p class="c_show">Rating:<%= @movie.rating %></p></strong>
<br>
<strong><p class="c_show">Release date:<%= @movie.release_date %></p></strong>

<% if @reviews.blank? %>
<br>

<% else %>

<hr>
  <% @reviews.each do |review| %>
    <div class="right">
    <strong><p class="c_review"><%= review.user.email %></p></strong>
    </div>
    <p class="c_review"><%= review.comment %></p>
    
    <% if current_user.id ==  review.user_id %>
      <%= link_to  'Edit', edit_movie_review_path(@movie,review) %>&emsp;&emsp;
      <%= link_to  'Delete', movie_review_path(@movie,review), :method => :delete %> 
    <% end %>

    <hr>
    
  <% end %>
  <% end %>
  <div class="center">
  <%= link_to  '<button class="button_in_nav">Write review</button>'.html_safe, new_movie_review_path(@movie) %>  
  </div>
  <hr>
  <div class="row">
  <div class="col-sm">
  <div class="center">
  <%= link_to  '<button class="button_in_nav">Edit movie</button>'.html_safe, edit_movie_path(@movie,@review) %>  &emsp;&emsp;

  </div>
  </div>
  <div class="col-sm">
  <div class="center">
  <%= link_to  '<button class="button_in_nav">Delete movie</button>'.html_safe, movie_path(@movie), :method => :delete %>  
  <!--<%= link_to 'close','',{:id => 'closelink'} %>-->
  </div>
  </div>
  <div class="col-sm">
  <div class="center">
  <%= link_to  '<button class="button_in_nav">Back</button>'.html_safe, movies_path %>  
  </div>
  </div>
</div>
<%= link_to 'Close', '', {:id => 'closeLink'} %>
</div>



</body>




