
<H1><center><font color="#96bb7c"><B>Search Movie from TheMovieDb</B></font></center></H1>


  <div class="center">
<div class="box_table">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-hover" width="70%" border="5px" bgcolor="#96bb7c" padding="15px">
  <thead>
    <tr>
    <th>Row</th>
    <th >Title</th>
    <th >Rating</th>
    <th >Release Date</th>
    <th >Add Movie</th>
    </tr>
  </thead>

  <tbody bgcolor="#f5f1da">
    <% @list_class.each.with_index(1) do |movie,index| %>
      <tr>
      <td padding: 15px ><%= index %></td>
      <td padding: 15px ><%= movie['title'] %></td>
      <td padding: 15px><%= movie['rating'] %></td>
      <td padding: 15px><%= movie.release_date  %></td>
      <td><%= link_to "Add movie to Bookkytomatoes", edit_movie_from_tmdb_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div> 
</div> 


<% if current_user %>
  <div> <%= current_user.name %></div>
  <% end %>